:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("https://www.edificioverdece.cl/imagenes/edificio/Parque-3.jpg");
  background-size: cover;

  .box {
    height: 100%;
    .login-inner-box {
      height: 80%;
      width: 450px;
      background-color: rgba(255,255,255, 1);
    }

    .inner-box {
      height: 80%;
      width: 60%;
      background-color: rgba(255,255,255, 1);
    }
  }
}

